In [11]:
import plotly.colors as colors
from plotly.offline import iplot, init_notebook_mode
from matplotlib import cm
import plotly.io as pio
import plotly.express as px
import numpy as np
from json import load
import pandas as pd
import streamlit as st
import matplotlib.cm as cm
import pydeck as pdk


st.set_page_config(layout="wide")
st.title("Bangladesh Road Accidents")
st.sidebar.info(
    "Choropleth Bangladesh Map\n"
    "Road accidents"
)


bd_districts = load(
    open('bangladesh_geojson_adm2_64_districts_zillas.json', 'r'))
bd_districts['features'][61].keys()
#bd_districts["features"][61]['properties']
dff = pd.read_csv('final_report.csv')

district_id_map = {}
for feature in bd_districts["features"]:
    feature["id"] = feature["id"]
    district_id_map[feature["properties"]["ADM2_EN"]] = feature["id"]
#district_id_map
default_value = None
dff['id'] = dff.District.apply(lambda x: district_id_map.get(x, default_value))
dff.to_csv('final_output.csv', index=False)
final_data = pd.read_csv('final_output.csv')
#final_data

# -------------------dividing time period------------------------
color = cm.inferno_r(np.linspace(.3, .7, 64))

grouped = final_data.groupby(['LOCATION', 'id', 'time', 'time_of_day', 'day', 'week', 'month',
                             'year', 'Vehicle 1', 'Vehicle 2', 'Vehicle 3']).size().reset_index(name='Accidents')
time_data = grouped.copy()
time_data


grouped = final_data.groupby(['LOCATION', 'id', 'day', 'week', 'month', 'year',
                             'Vehicle 1', 'Vehicle 2', 'Vehicle 3']).size().reset_index(name='total_accidents')
day_data = grouped.copy()


grouped = final_data.groupby(['LOCATION', 'id', 'week', 'month', 'year']).size(
).reset_index(name='total_accidents')
week_data = grouped.copy()


grouped = final_data.groupby(
    ['LOCATION', 'id', 'month', 'year']).size().reset_index(name='total_accidents')
month_data = grouped.copy()


grouped = final_data.groupby(
    ['LOCATION', 'id', 'year']).size().reset_index(name='Accidents')
year_data = grouped.copy()
time_data.to_csv('timee.csv', index=False)
year_data.to_csv('yeaar.csv', index=False)
month_data

      LOCATION  id  month  year  total_accidents
0     Aditmari  31      1  2022                1
1     Akkelpur  24      9  2022                1
2    Alamdanga   9      7  2021                1
3      Arabpur  21      7  2021                2
4    Araihazar  41     10  2022                1
..         ...  ..    ...   ...              ...
690     Uttara  12      5  2022                1
691     Uttara  12      8  2022               16
692     Uttara  12      9  2022                1
693   Wazirpur   3      7  2022                1
694     Zajira  57      1  2023                2

[695 rows x 5 columns]

In [14]:
grouped = final_data.groupby(
    ['LOCATION', 'id', 'month', 'year']).size().reset_index(name='Accidents')
mo_data = grouped.copy()
mo_data

      LOCATION  id  month  year  Accidents
0     Aditmari  31      1  2022          1
1     Akkelpur  24      9  2022          1
2    Alamdanga   9      7  2021          1
3      Arabpur  21      7  2021          2
4    Araihazar  41     10  2022          1
..         ...  ..    ...   ...        ...
690     Uttara  12      5  2022          1
691     Uttara  12      8  2022         16
692     Uttara  12      9  2022          1
693   Wazirpur   3      7  2022          1
694     Zajira  57      1  2023          2

[695 rows x 5 columns]

In [13]:
import folium
import plotly.colors as colors
from plotly.offline import iplot, init_notebook_mode
from matplotlib import cm
import plotly.io as pio
import plotly.express as px
import numpy as np
from json import load
import pandas as pd
import streamlit as st
import pydeck as pdk

In [15]:
bd_districts = load(
    open('bangladesh_geojson_adm2_64_districts_zillas.json', 'r'))
bd_districts['features'][61].keys()
# bd_districts["features"][61]['properties']
dff = pd.read_csv('final_report.csv')

district_id_map = {}
for feature in bd_districts["features"]:
    feature["id"] = feature["id"]
    district_id_map[feature["properties"]["ADM2_EN"]] = feature["id"]
# district_id_map
default_value = None
dff['id'] = dff.District.apply(lambda x: district_id_map.get(x, default_value))
dff.to_csv('final_output.csv', index=False)
final_data = pd.read_csv('final_output.csv')

In [16]:
grouped = final_data.groupby(['LOCATION', 'District', 'id', 'time', 'time_of_day', 'day', 'week',
                             'month', 'year', 'Vehicle 1', 'Vehicle 2', 'Vehicle 3']).size().reset_index(name='total_accidents')
time_data = grouped.copy()


grouped = final_data.groupby(['LOCATION', 'District', 'id', 'day', 'week', 'month', 'year',
                             'Vehicle 1', 'Vehicle 2', 'Vehicle 3']).size().reset_index(name='total_accidents')
day_data = grouped.copy()


grouped = final_data.groupby(['LOCATION', 'District', 'id', 'week', 'month', 'year']).size(
).reset_index(name='total_accidents')
week_data = grouped.copy()


grouped = final_data.groupby(
    ['LOCATION', 'District', 'id', 'month', 'year']).size().reset_index(name='total_accidents')
month_data = grouped.copy()


grouped = final_data.groupby(
    ['LOCATION', 'District', 'id', 'year']).size().reset_index(name='total_accidents')
year_data = grouped.copy()

In [24]:




def year_func(yy):
    # create an empty DataFrame to hold the filtered data
    filtered = pd.DataFrame()
    for index, row in year_data.iterrows():
        if (row['year'] == yy):
            # if the condition is satisfied, add the row to the filtered DataFrame
            filtered = pd.concat([filtered, row.to_frame().T])
    return filtered


def month_func(yy, mm):
    filtered = pd.DataFrame()
    for index, row in month_data.iterrows():
        if ((row['year'] == yy) & (row['month'] == mm)):
            filtered = pd.concat([filtered, row.to_frame().T])
    return filtered


def week_func(yy, mm, ww):

    filtered = pd.DataFrame()
    for index, row in week_data.iterrows():
        if ((row['year'] == yy) & (row['month'] == mm) & (row['week'] == ww)):
            filtered = pd.concat([filtered, row.to_frame().T])
    return filtered


def day_func(yy, mm, dd):

    filtered = pd.DataFrame()
    for index, row in day_data.iterrows():
        #print(row['month'])

        if ((row['year'] == yy) & (row['month'] == mm) & (row['day'] == dd)):
            print(row['month'])

            filtered = pd.concat([filtered, row.to_frame().T])
    return filtered


def wday_func(yy, mm, ww, dd):
    filtered = pd.DataFrame()
    for index, row in time_data.iterrows():
        if ((row['year'] == yy) & (row['month'] == mm) & (row['week'] == ww) & (row['day'] == dd)):
            filtered = pd.concat([filtered, row.to_frame().T])
    return filtered
# ----------------------------------all parts-----------------------------



    y = 2020
     filtered = pd.DataFrame()
    filtered_data = year_func(2020)

In [18]:
init_notebook_mode(connected=True)
fig = px.choropleth_mapbox(filtered_data,
                               locations='id',
                               geojson=bd_districts,
                               color='total_accidents',
                               title=f'Bangladesh Road Accidents ({y} Year])',
                               hover_name='LOCATION',
                               hover_data=['LOCATION', 'District',
                                           'total_accidents', 'year', 'id'],
                               color_continuous_scale='#FFF5F0',
                               mapbox_style='carto-positron',
                               center={'lat': 23.6850, 'lon': 90.3563},
                               zoom=6.0,
                               opacity=0.4,                              
                               )

fig.update_geos(fitbounds='locations', visible=True)
fig.update_layout(
        height=800,
        width=1000
    )

NameError: name 'filtered_data' is not defined